<%
  if @node.persisted?
    url = node_path(@node)
  else
    url = nodes_path
  end
%>

<%= form_for(@node, url: url) do |f| %>
  <% if @node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@node.errors.count, "error") %> prohibited this node from being saved:</h2>

      <ul>
      <% @node.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :diagram_id %><br>
    <%= f.select :diagram_id, options_from_collection_for_select(@diagrams, :id, :name, @node.diagram_id) %>
  </div>
  <div class="field">
    <%= f.label :help_text %><br>
    <%= f.text_field :help_text %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.select :type, ['Activity', 'Condition'] %>
  </div>

  <% if @node.condition? %>
    <div class="field hidden">
      <%= f.label :true_child_id %><br>
      <%= f.number_field :true_child_id %>
    </div>

    <div class="field hidden">
      <%= f.label :false_child_id %><br>
      <%= f.number_field :false_child_id %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
