<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @node.text %>
</p>

<p>
  <strong>Position:</strong>
  <%= @node.position %>
</p>

<p>
  <strong>Diagram:</strong>
  <%= @node.diagram_id %>
</p>

<p>
  <strong>Help text:</strong>
  <%= @node.help_text %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @node.parent_id %>
</p>
<p>
  <strong>type:</strong>
  <%= @node.type %>
</p>
<p>
  <h3>Configurar nodo</h3>
  <%= form_for @node, url: node_path(@node), method: :put do |f| %>
    <% if @node.condition? %>
      <%= f.select(
        :true_child_id,
        options_from_collection_for_select(
          @nodes_of_diagram,
          :id,
          :text,
          @node.true_child_id
        ),
        class: "form-control"
      ) %>
      <%= f.select(
        :false_child_id,
        options_from_collection_for_select(
          @nodes_of_diagram,
          :id,
          :text,
          @node.false_child_id
        ),
        class: "form-control"
      ) %>
    <% else %>
      <div class="field">
        <%= f.label :position %><br>
        <% options = [] %>
        <% options << ['Normal', :middle] %>
        <% options << ['Final', :final] %>
        <%= f.select :position, options %>
      </div>
      <div class="field">
        <%= f.label :parent_id %><br>
        <%= f.select(
          :parent_id,
          options_from_collection_for_select(
            @nodes_of_diagram,
            :id,
            :text,
            @node.parent_id
          )
        ) %>
      </div>
    <% end %>

    <%= f.submit "Update", class: "btn btn-primary" %>
  <% end %>
</p>

<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
