<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @diagram.name %>
</p>

<%= link_to 'Ver diagrama', app_diagram_path(@diagram), class: "btn btn-info", data: {no_turbolink: true} %>
<br>
Nodos:
<ul>
  <% @diagram.nodes.each do |n| %>
    <li>
      <%= n.text %>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_diagram_path(@diagram) %> |
<%= link_to 'Back', diagrams_path %>
