<h1><%= @diagram.name %></h1>

<div class="hidden" id="d-flow" data-flow="<%= @diagram.to_flow_chart %>"></div>

<% @diagram.nodes.each do |node| %>
  <div id="node-<%= node.id %>" class="hidden"
    <% if node.condition? %>
      data-next-id="<%= node.true_child_id %>"
    <% else %>
      data-next-id="<%= node.children.id if !node.final? %>"
    <% end %>
  >
  </div>
<% end %>

<div id="diagram"></div>
<%= content_for :scripts do %>
  <script type="text/javascript" src="https://rawgit.com/DmitryBaranovskiy/raphael/master/raphael-min.js"></script>
  <script type="text/javascript" src="http://adrai.github.io/flowchart.js/flowchart-latest.js"></script>
<% end %>
<%= content_for :flow do %>
  <script>
    $(document).ready(function($){
      console.log($('#d-flow').attr('data-flow'));
      var diagram = flowchart.parse($('#d-flow').attr('data-flow'));
      diagram.drawSVG('diagram');
    });
  </script>
<% end %>
