<div class="row">
  <%= form_tag pages_path, method: :get, class: "navbar-form navbar-left search-form" do %>

    <%= text_field_tag(
        :search,
        params[:search],
        placeholder: "Search",
        class: "form-control"
    ) %>

    <%= button_tag 'hola', class: 'btn btn-primary' %>
  <% end %>
</div>

<ul>
  <% @diagrams.each do |diagram| %>
    <li>
      <%= link_to diagram.name, app_diagram_path(diagram), class: "btn btn-primary" %>
      <%= diagram.name %>
    </li>
  <% end %>
</ul>
